<div layout='row'>
    <div>
        <mat-vertical-stepper [linear]="false" [selectedIndex]='selectedIndex' (selectionChange)='selectedIndex=$event.selectedIndex;'>
            <mat-step completed='false'>
                <ng-template matStepLabel>Contact Details</ng-template>
                <!-- <button mat-button color='warn' (click)='resetFormDetail()' [disabled]='formDetail.pristine'>RESET</button> -->
            </mat-step>

            <mat-step completed='false'>
                <ng-template matStepLabel>Delivery Items</ng-template>
                <!-- <button mat-button color='warn' (click)='resetFormItems()' [disabled]='formItems.pristine'>RESET</button> -->
            </mat-step>

            <mat-step completed='false' *ngIf='originalJob'>
                <ng-template matStepLabel>Driver's Note</ng-template>
            </mat-step>

            <mat-step completed='false' *ngIf='originalJob'>
                <ng-template matStepLabel>Proof Of Delivery</ng-template>
            </mat-step>
        </mat-vertical-stepper>

        <button *ngIf='allowDeleteJob && !readonly' mat-button color="warn" (click)="sendDeleteJobRequest()">DELETE JOB</button>
    </div>

    <div class='right-hand-panel' flex>
        <!-- <pre>{{f.value.Lat}} {{f.value.Lng}}</pre> -->
        <form [formGroup]='f'>
            <mat-error *ngIf="f.controls.DeliveryItems.errors?.arrayNotEmpty" translate>Delivery Items cannot be empty</mat-error>

            <div [hidden]='selectedIndex!==0' layout="row" layout-margin layout-wrap>
                <!-- row 1 -->
                <mat-form-field flex="30">
                    <input matInput formControlName='ContactName' placeholder="Contact Person" />
                </mat-form-field>

                <mat-form-field flex="30">
                    <input matInput formControlName="ContactEmail" placeholder="Customer Email (*)" />
                    <mat-error *ngIf="f.controls.ContactEmail.errors?.required" translate>REQUIRED_ERROR_MSG</mat-error>
                    <mat-error *ngIf="f.controls.ContactEmail.errors?.pattern" translate>INCORRECT_FORMAT_ERROR_MSG</mat-error>
                </mat-form-field>

                <mat-form-field flex="15">
                    <input matInput formControlName='ContactPhone' placeholder="Contact Phone (*)" maxlength="8" />
                    <mat-error *ngIf="f.controls.ContactPhone.errors?.required" translate>REQUIRED_ERROR_MSG</mat-error>
                    <mat-error *ngIf="f.controls.ContactPhone.errors?.pattern" translate>INCORRECT_FORMAT_ERROR_MSG</mat-error>
                    <mat-hint align="end">{{f.controls.ContactPhone.value?.length}} / 8</mat-hint>
                </mat-form-field>

                <!-- row 2 -->

                <mat-form-field flex="10">
                    <!-- unable to use Reactive Form disabled due to code structure-->
                    <mat-select placeholder="Job Type (*)" formControlName='JobType' [disabled]='readonly || !allowChangeJobType'>
                        <mat-option value="PICKUP">PICKUP</mat-option>
                        <mat-option value="DELIVERY">DELIVERY</mat-option>
                    </mat-select>
                    <mat-error *ngIf="f.controls.JobType.errors?.required" translate>REQUIRED_ERROR_MSG</mat-error>
                </mat-form-field>

                <mat-form-field flex="10">
                    <input matInput type="text" placeholder='Postal (*)' formControlName='Postal' [matAutocomplete]="auto"
                        minlength="6" maxlength="6">
                    <mat-error *ngIf="f.controls.Postal.errors?.pattern" translate>INCORRECT_POSTAL_FORMAT_ERROR_MSG</mat-error>
                    <mat-error *ngIf="f.controls.Postal.errors?.serverError">Failed to validate Postal</mat-error>
                    <mat-error *ngIf="f.controls.Postal.errors?.nonexistence || f.controls.Lat.errors?.invalid || f.controls.Lng.errors?.invalid"
                        translate>NONEXISTENT_POSTAL_ERROR_MSG</mat-error>
                    <mat-hint align="end">{{f.controls.Postal.value?.length||0}} / 6</mat-hint>
                </mat-form-field>

                <mat-form-field flex="30">
                    <input matInput formControlName="Address" placeholder="Address">
                </mat-form-field>

                <mat-form-field flex="15">
                    <input matInput formControlName='VerificationCode' placeholder="Verification Code" type='number'>
                </mat-form-field>

                <button flex='5' mat-icon-button (click)="generateVerificationCode()" matTooltip='Auto generate verification code'
                    [disabled]='readonly'>
                    <mat-icon>add</mat-icon>
                </button>
                <button flex='5' *ngIf="originalJob && originalJob.VerificationCode && originalJob.VerificationCode.Code"
                    mat-icon-button (click)="sendVerificationCode()" matTooltip='send email with verification code'
                    [disabled]='readonly'>
                    <mat-icon>email</mat-icon>
                </button>

                <mat-form-field flex="10">
                    <mat-select formControlName="Status" placeholder="Status" readonly>
                        <mat-option *ngFor="let p of statusLabels;let i= index" [value]="i">
                            {{p}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- row 3 -->
                <mat-form-field flex="25">
                    <input matInput type="datetime-local" formControlName="StartTimeWindow" placeholder="Start Time (*)"
                        step='60' min="1990-01-01T00:00:00" max="2999-12-31T23:59:59">
                    <mat-error *ngIf="f.controls.StartTimeWindow.errors?.required" translate>REQUIRED_ERROR_MSG</mat-error>
                    <mat-error *ngIf="f.controls.StartTimeWindow.errors?.lateThanStartTime" translate>Must be earlier
                        than
                        End Time</mat-error>
                    <mat-error *ngIf="f.controls.StartTimeWindow.errors?.differentDays" translate>Must be same day as
                        End
                        Time
                    </mat-error>
                    <mat-error *ngIf="f.controls.StartTimeWindow.errors?.differentJobDays" translate>Must be same day
                        for Pickup and
                        Delivery
                    </mat-error>
                </mat-form-field>

                <mat-form-field flex="25">
                    <input matInput type="datetime-local" formControlName="EndTimeWindow" placeholder="End Time (*)"
                        step='60' min="1990-01-01T00:00:00" max="2999-12-31T23:59:59">
                    <mat-error *ngIf="f.controls.EndTimeWindow.errors?.required" translate>REQUIRED_ERROR_MSG</mat-error>
                    <mat-error *ngIf="f.controls.EndTimeWindow.errors?.lateThanStartTime" translate>Must be late than
                        Start
                        Time
                    </mat-error>
                    <mat-error *ngIf="f.controls.EndTimeWindow.errors?.differentDays" translate>Must be same day as
                        Start
                        Time
                    </mat-error>
                    <mat-error *ngIf="f.controls.EndTimeWindow.errors?.differentJobDays" translate>Must be same day for
                        Pickup and
                        Delivery
                    </mat-error>
                </mat-form-field>

                <mat-form-field flex="25">
                    <input matInput type="datetime-local" formControlName="ActualDeliveryTime" readonly placeholder="Actual Delivery Time">
                </mat-form-field>

                <mat-form-field flex="15">
                    <input matInput type='number' min="0.0001" formControlName='ServiceTime' placeholder="Service Time (min)">
                    <mat-error *ngIf="f.controls.ServiceTime.errors?.required" translate>REQUIRED_ERROR_MSG</mat-error>
                    <mat-error *ngIf="f.controls.ServiceTime.errors?.min" translate>GREATER_THAN_0_ERROR_MSG</mat-error>
                </mat-form-field>

                <!-- row 4 -->

                <vrp-planner-notes flex="95" formControlName='NoteFromPlanner'></vrp-planner-notes>
            </div>

            <vrp-planner-items [hidden]='selectedIndex!==1' formControlName="DeliveryItems" [readonly]='readonly'></vrp-planner-items>

            <vrp-planner-driver-notes *ngIf='selectedIndex===2' [job]="originalJob"></vrp-planner-driver-notes>

            <vrp-planner-pod *ngIf='selectedIndex===3' [job]="originalJob"></vrp-planner-pod>
        </form>
    </div>
</div>

<mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let p of filteredPostals" [value]="p.postal">
        <span>{{p.postal}}</span>
    </mat-option>
</mat-autocomplete>