<td-layout-nav [toolbarTitle]="'Change Password'| translate">
    <button mat-icon-button td-menu-button>
        <mat-icon>menu</mat-icon>
    </button>

    <div layout="row">
        <div flex="10" hide-xs> </div>

        <mat-card flex>
            <mat-card-header>
                <mat-card-title>User {{username}} is required to change password</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <vrp-change-password (onSubmit)='submit($event)'></vrp-change-password>
            </mat-card-content>
        </mat-card>
        <div flex="10" hide-xs> </div>
    </div>
</td-layout-nav>
