<td-layout-nav toolbarTitle="Data Management">
    <button mat-icon-button td-menu-button tdLayoutToggle>
        <mat-icon>menu</mat-icon>
    </button>

    <div td-toolbar-content layout="row" layout-align="end center" flex>
        <vrp-planner-date-range-selection class='pad-left' *ngIf='tableName==="DeliveryDetail"' [range]='jobQuery'
            (rangeChange)='onDateRangeChange($event)' [allowFuture]="true"></vrp-planner-date-range-selection>

        <span flex></span>

        <nav layout="row">
            <ng-template let-item ngFor [ngForOf]="tableList">
                <a class="push-right text-nodecoration text-upper text-sm" [routerLinkActive]="['active']"
                    [routerLink]="[]" [queryParams]="{tableName:item.name}" (click)="tabSelect(item.name)">{{item.label
                    || item.name}}</a>
            </ng-template>
            <a class="push-right text-nodecoration text-upper text-sm" [routerLinkActive]="['active']" [routerLink]="[]"
                [queryParams]="{tableName:'Postal'}" (click)="tabSelect('Postal')">Postal</a>
        </nav>

        <vrp-planner-notification-box></vrp-planner-notification-box>

        <button *ngIf="showForward" mat-icon-button matTooltip="Move Forward" (click)='showForwardDialog()'>
            <mat-icon>forward</mat-icon>
        </button>
        <button *ngIf="showForward" mat-icon-button matTooltip="Export to Edit" (click)='exportForwardJobs()'>
            <mat-icon>file_download</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Reload" (click)='refresh()'>
            <mat-icon>refresh</mat-icon>
        </button>

        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>

    <mat-sidenav-container layout-fill>
        <mat-sidenav-content>
            <div flex [ngSwitch]="tableName"
                *tdLoading="'planner-data-management.load'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent'">
                <vrp-table
                    *ngSwitchDefault
                    #vrpTable
                    [id]='"tablePlannerData_"+tableName'
                    [columns]="columns[tableName]"
                    [data]="tableData[tableName]"
                    [tableHeight]="tableHeight"
                    [selectActions]='tableSelectActions'
                    [tableActions]='tableActions'
                    [itemActions]='tableItemActions'
                    [customPanelTemplate]='tablePanelTemplate'
                >
                </vrp-table>

                <div *ngSwitchCase="'Postal'" layout-fill [style.height.px]='innerHeight'>
                    <vrp-search-location></vrp-search-location>
                </div>
            </div>
        </mat-sidenav-content>
        <mat-sidenav #sideNavRight mode="over" position="end" style="width:25%" autoFocus="false">
            <vrp-table-filter *ngIf="sideNavRight.opened && tableName === 'DeliveryDetail'" [columns]=columns[tableName]
                [defaults]=filterConditions (applyTableFilter)='applyTableFilter($event)'></vrp-table-filter>
        </mat-sidenav>
    </mat-sidenav-container>
</td-layout-nav>


<mat-menu x-position="before" y-position="below" #menu="matMenu" [overlapTrigger]="false">
    <a mat-menu-item (click)="itemMenu.click()" *ngFor="let itemMenu of toolbarDropdownMenu">
        <mat-icon>{{itemMenu.icon}}</mat-icon> {{itemMenu.label}}
</a>
</mat-menu>

<ng-template #tablePanelTemplate let-table="id" let-selectedRrows="selectedRows">
    <div *ngIf="table === 'tablePlannerData_DeliveryDetail' && _checkExceededOrderCapacity()" layout-margin>
        <div layout='row'>
            <div layout='column' class="pad-left">
                <mat-form-field>
                    <mat-label>Split option</mat-label>
                    <mat-select [(value)]="selectedSplitType">
                        <mat-option *ngFor="let p of _splitOptions;let i= index" [value]="p">
                            {{p}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div layout="column" class="pad-left">
                <mat-form-field *ngIf="selectedSplitType === 'Manual Split'">
                    <mat-label>Split to # of orders:</mat-label>
                    <input matInput type="number" placeholder="# of split" [(ngModel)]="splitCount">
                </mat-form-field>

                <mat-form-field  *ngIf="selectedSplitType === 'Auto Split'">
                    <mat-label>Settings</mat-label>
                    <mat-select
                        multiple
                        [(value)]="selectedSplitAutoOptions"
                        (optionSelectionChanges)="_autoOptionsSelectChange($event)"
                    >
                        <mat-option
                            *ngFor="let autoOption of _splitAutoOptions"
                            [value]="autoOption.value"
                        >
                            {{autoOption.label}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div layout='column' class="pad-left">
                <button
                    mat-raised-button color="primary"
                    (click)="_splitSelectedOrders()"
                >
                    Split
                </button>
            </div>
        </div>
    </div>
</ng-template>

<!--
<mat-menu #menuTableSelection="matMenu" [overlapTrigger]="false">
    <ng-template let-itemMenu ngFor [ngForOf]="toolbarDropdownMenu" let-item>
        <a mat-menu-item  [routerLink]="[]" [queryParams]="{tableName:itemMenu}">
                <mat-icon>{{itemMenu === tableName?'check':''}}</mat-icon> {{itemMenu}}
        </a>
    </ng-template>
</mat-menu> -->