<mat-list class='vrp-nav-list' [attr.dense]="settings?.dense">
    <mat-list-item layout="row">
        <mat-checkbox *ngIf="!searchBox.searchVisible && !!settings.selected" [checked]="settings.selected.length > 0 && settings.selected.length >= filtered.length"
            [indeterminate]="settings.selected.length > 0 && settings.selected.length<filtered.length" (change)='itemSelectAll($event.checked)'></mat-checkbox>

        <span *ngIf="!searchBox.searchVisible" class="md-title push-left-sm" style='width:0px;overflow:visible;white-space: nowrap'>
            {{settings.title | slice: 0:15}}
        </span>

        <span flex></span>

        <td-search-box #searchBox class="push-right-sm" placeholder="search" (searchDebounce)="filter($event)"></td-search-box>

        <span *ngIf="!searchBox.searchVisible && !!settings.headerActions" class="push-left-sm">
            <a mat-icon-button *ngFor="let a of settings.headerActions" [matTooltip]=" a.tooltip||a.label" (click)="a.click()">
                <mat-icon>{{a.icon}}</mat-icon>
            </a>
        </span>

        <a *ngIf='settings.headerMenuActions' mat-icon-button [matMenuTriggerFor]="headerMenu">
            <mat-icon>more_vert</mat-icon>
        </a>

    </mat-list-item>

    <mat-list-item *ngIf="settings.summaryText" class='md-caption tc-indigo-200 text-wrap'>
        {{settings.summaryText}}
    </mat-list-item>

    <mat-divider></mat-divider>

    <!-- <mat-list-item *ngIf="settings.selected?.length >0 && settings.selectActions" layout="row">
    <span class="md-body-1">{{settings.selected.length}} selected

      <button mat-icon-button color='warn' *ngFor="let a of settings.selectActions" [matTooltip]=" a.tooltip||a.label" (click)="a.click(); itemSelectAll(false)">
        <mat-icon>{{a.icon}}</mat-icon>
      </button>
      <span flex></span>
      <button mat-icon-button matTooltip="Cancel selection" (click)="itemSelectAll(false)">
        <mat-icon>close</mat-icon>
      </button>
    </span>
  </mat-list-item> -->

    <div class="md-padding" *ngIf="filtered?.length === 0" layout="row" layout-align="center center">
        <h3>No data to display</h3>
    </div>

    <ng-template let-item let-index="index" let-last="last" ngFor [ngForOf]="filtered">
        <h3 matSubheader *ngIf='item._subHeader'>{{item._subHeader}}</h3>

        <mat-list-item layout="row" [class.highlighted]='iHighlighted===index' matTooltipPosition='after' [matTooltip]='item.tooltip'
            class='vrp-nav-list-item'>
            <span class='td-circle mat-active' *ngIf='settings.numbering'>{{index+1}}</span>

            <mat-checkbox [(ngModel)]="item.checked" (change)='itemCheckedChange($event.checked,item)' *ngIf='settings.selected'
                style='margin-right:10px'></mat-checkbox>

            <a (click)="itemClick(item,data.indexOf(item))">
                <ng-template [ngTemplateOutlet]="settings.itemTemplateRef()" [ngTemplateOutletContext]="{ item: item }"></ng-template>
            </a>

            <span flex></span>

            <span *ngIf='settings.itemMenuActions'>
                <button mat-icon-button [matMenuTriggerFor]="itemMenu">
                    <mat-icon>more_vert</mat-icon>
                </button>

                <mat-menu #itemMenu="matMenu" [overlapTrigger]="true">
                    <button mat-menu-item (click)="itemMenu.click(item,data.indexOf(item))" *ngFor="let itemMenu of settings.itemMenuActions">
                        <mat-icon *ngIf='itemMenu.icon'>{{itemMenu.icon}}</mat-icon>{{itemMenu.label}}
                    </button>
                </mat-menu>
            </span>
        </mat-list-item>

        <mat-divider></mat-divider>
    </ng-template>

    <mat-expansion-panel multi="true" class="mat-elevation-z0" *ngFor="let f of footerData">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <strong>{{f.title}}</strong>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent [ngTemplateOutlet]="settings.footerTemplateRef()"
            [ngTemplateOutletContext]="{ item: f.value }"></ng-template>
    </mat-expansion-panel>

</mat-list>

<mat-menu #headerMenu="matMenu" [overlapTrigger]="true">
    <a mat-menu-item (click)="itemMenu.click()" *ngFor="let itemMenu of settings.headerMenuActions">
        <mat-icon *ngIf='itemMenu.icon'>{{itemMenu.icon}}</mat-icon> {{itemMenu.label}}
    </a>
</mat-menu>