@media (min-width: 600px) {
    mat-dialog-content {
        width: 400px;
    }
}

@media (max-width: 599px) {
    mat-dialog-content {
        width: 250px;
    }
}

.line-breaker {
    white-space: pre-line;
}