<td-layout-nav toolbarTitle="Reports">
    <button mat-icon-button td-menu-button tdLayoutToggle>
        <mat-icon>menu</mat-icon>
    </button>

    <div td-toolbar-content layout="row" layout-align="center center" flex>
        <vrp-planner-date-range-selection class='pad-left' [range]='jobQuery' (rangeChange)='onDateRangeChange($event)'[allowFuture]="false">
        </vrp-planner-date-range-selection>

        <i class='text-md text-wrap pad-left'>{{summaryText}}</i>

        <span flex></span>

        <i *ngIf='downloadInProgress' class='text-md text-wrap pad-left' color="warn">Downloading Transaction Log...</i>

        <span flex></span>

        <button mat-icon-button [disabled]='(!data || data.length===0) || downloadInProgress'
            [matMenuTriggerFor]="downloadMenu">
            <mat-icon>cloud_download</mat-icon>
        </button>

        <vrp-planner-notification-box></vrp-planner-notification-box>

        <button mat-icon-button matTooltip="Reload" (click)='refresh()'>
            <mat-icon>refresh</mat-icon>
        </button>
    </div>

    <div *ngIf='downloadInProgress'>
        <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
    </div>
    <mat-card class="bgc-grey-100" *ngIf='data && data.length>0 && !disableReports'>
        <div layout="row">
            <div layout="column" class="box">
                <mat-card>
                    <mat-card-title>Job Summary</mat-card-title>

                    <div class="legend-items" *ngFor="let legendItem of legendItems;">
                        <div class="legend-item">
                            <div class="item-color" [style.border-left-color]="legendItem.color"></div>
                            <div class="item-value">{{legendItem.value}}</div>
                            <div class="item-label">{{legendItem.label}}</div>
                            <div class="item-percent">{{legendItem.percent}}</div>
                        </div>
                    </div>

                    <ngx-charts-pie-chart [view]="smallView" [scheme]="colorScheme" [results]="jobSummary"
                        [tooltipDisabled]="false" [doughnut]="true" [arcWidth]="0.70">
                    </ngx-charts-pie-chart>

                </mat-card>
            </div>
            <div layout="column" class="box">
                <mat-card>
                    <mat-card-title>Job Loading Statistics</mat-card-title>
                    <div class="legend-items" *ngFor="let legendItem of jobLegendItems;">
                        <div class="legend-item">
                            <div class="item-color" [style.border-left-color]="legendItem.color"></div>
                            <div class="item-label">{{legendItem.label}}</div>
                            <div class="item-value">{{legendItem.value}}</div>
                            <div class="item-percent"></div>
                        </div>
                    </div>
                    <ngx-charts-line-chart [view]="smallView" [scheme]="colorScheme" [results]="jobData" [yAxis]="true"
                        [xAxis]="true" [roundDomains]="true" [showXAxisLabel]="true" [showYAxisLabel]="true"
                        [xAxisLabel]="xTimeScale" [yAxisLabel]="yJobDistribution">
                    </ngx-charts-line-chart>
                </mat-card>
            </div>
            <div layout="column" class="box">
                <mat-card>
                    <mat-card-title>Vehicle Utilization</mat-card-title>
                    <div class="legend-items" *ngFor="let legendItem of vehicleLegendItems;">
                        <div class="legend-item">
                            <div class="item-color" [style.border-left-color]="legendItem.color"></div>
                            <div class="item-value">{{legendItem.value}}</div>
                            <div class="item-label">{{legendItem.label}}</div>
                            <div class="item-percent">{{legendItem.percent}}</div>
                        </div>
                    </div>

                    <vrp-combo-chart-component [view]="smallView" [scheme]="comboBarScheme"
                        [colorSchemeLine]="VehicleColorScheme" [lineChart]=" vehicleUsageData" [yAxis]="true"
                        [xAxis]="true" [roundDomains]="true" [results]="yRightData" [roundDomains]="true"
                        [showXAxisLabel]="true" [showYAxisLabel]="true" [showRightYAxisLabel]="true"
                        [yAxisLabelRight]="yVehicleUsage" [xAxisLabel]="xTimeScale" [yAxisLabel]="yCapacityUsage">
                    </vrp-combo-chart-component>
                </mat-card>
            </div>
        </div>
    </mat-card>

    <mat-sidenav-container layout-fill>
        <mat-sidenav-content>
            <vrp-table #vrpTable id='tableTransactionLog' [columns]="columns" [data]="data" [tableHeight]="tableHeight"
                [itemActions]='tableItemActions' [tableActions]='tableActions' selectable=false></vrp-table>
        </mat-sidenav-content>
        <mat-sidenav #sideNavRight mode="over" position="end" style="width:25%" autoFocus="false">
            <vrp-table-filter *ngIf="sideNavRight.opened" [columns]=columns [defaults]=filterConditions
                (applyTableFilter)='applyTableFilter($event)'></vrp-table-filter>
        </mat-sidenav>
    </mat-sidenav-container>
</td-layout-nav>

<mat-menu #timeFilterMenu="matMenu" [overlapTrigger]="false">
    <vrp-time-filter-menu (applyFilter)='applyDeliveryTimeFilter($event)'></vrp-time-filter-menu>
</mat-menu>

<mat-menu #downloadMenu="matMenu" [overlapTrigger]="false">
    <a mat-menu-item (click)='exportToZip(false)'>
        Download Without Photos
    </a>
    <a mat-menu-item (click)='exportToZip(true)'>
        Download With Photos
    </a>
</mat-menu>