
.legend-item .item-color {

    border-left: 4px solid;
    width: 4px;
    height: 46px;
    float: left;
    margin-left: 7px;

}


.legend-item {
   display:inline-block;
   cursor: pointer;
}

.legend-items {
white-space: nowrap;
float: right;
padding-right: 20px;
}

.legend-item .item-value {
    font-size: 20px;
    margin-top: -3px;
    margin-left: 16px;
}
.legend-item .item-label {
    font-size: 14px;
    margin-left: 11px;
    margin-top: -3px;
}

.item-percent {
    font-size: 16px;
    opacity: 0.7;
    margin-left: 11px;
}
