<div layout="column" (click)="$event.stopPropagation();">
    <mat-card>
        <mat-card-title>Filter by Columns</mat-card-title>
        <mat-card-content>
            <mat-form-field [style.width.px]="320">
                <mat-chip-list #chipList>
                    <mat-chip *ngFor="let c of _columns" [removable]="true" (removed)="remove(c)">
                        {{c}}
                        <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
                    </mat-chip>
                </mat-chip-list>
                <input placeholder="add or remove Column..." #columnInput [formControl]="columnCtrl" [matAutocomplete]="auto"
                    [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="false">
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                    <mat-option *ngFor="let column of filteredColumns" [value]="column">
                        {{column}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </mat-card-content>
    </mat-card>
</div>
<div layout='column' (click)="$event.stopPropagation();">
    <mat-expansion-panel *ngFor="let c of _columns;let i=index">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{c}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field>
            <input matInput [(ngModel)]="filterContraints[i]" placeholder="Add value..."></mat-form-field>
    </mat-expansion-panel>
</div>



<div layout='row' class='pad-left pad-right'>
    <button mat-button flex='50' color='warn' (click)="applyFilter()">Apply</button>
    <button mat-button flex color='accent' (click)="closeFilter()">Close</button>
</div>