<td-layout-nav toolbarTitle="Driver Performance">
    <button mat-icon-button td-menu-button tdLayoutToggle>
        <mat-icon>menu</mat-icon>
    </button>

    <div td-toolbar-content layout="row" layout-align="center center" flex>
        <vrp-planner-date-range-selection class='pad-left' [range]='jobQuery' (rangeChange)='onDateRangeChange($event)' [allowFuture]="false">
        </vrp-planner-date-range-selection>



        <span class="spacing"></span>
        <!-- <button mat-raised-button color='warn' matTooltip='Select Drivers' [(ngModel)]="toggle" (click)="toggle = !toggle">Select Drivers
            </button> -->
        <vrp-search-select-form-field *ngIf="data.length>0" class='select-button' [value]="items[0].selected"
            [selections]='allDrivers' optionTemplateName='driver' multiple
            (selectionChange)='onSelectionChange(items[0],$event.value)'>Select
            Drivers</vrp-search-select-form-field>


        <span flex></span>
        <button mat-icon-button matTooltip="Reload" (click)='refresh()'>
            <mat-icon>refresh</mat-icon>
        </button>
    </div>
    <mat-card *ngIf="data.length>0">
        <mat-card-title>Performance Summary for {{this.items[0].selected}}</mat-card-title>
        <mat-divider></mat-divider>
        <div layout="row" class="bgc-grey-100">
            <div layout="column">
                <mat-card>
                    <mat-card-title>Job Summary</mat-card-title>

                    <div class="legend-items" *ngFor="let legendItem of legendItems;">
                        <div class="legend-item">
                            <div class="item-color" [style.border-left-color]="legendItem.color"></div>
                            <div class="item-value">{{legendItem.value}}</div>
                            <div class="item-label">{{legendItem.label}}</div>
                            <div class="item-percent">{{legendItem.percent}}</div>
                        </div>
                    </div>

                    <ngx-charts-pie-chart [view]="view" [scheme]="colorScheme" [results]="jobSummary"
                        [tooltipDisabled]="false" [doughnut]="true" [arcWidth]="0.70">
                    </ngx-charts-pie-chart>
                </mat-card>
            </div>
            <div layout="column">
                <mat-card>
                    <mat-card-title>Rating Summary</mat-card-title>
                    <div class="legend-items" *ngFor="let legendItem of ratingLegends;">
                        <div class="legend-item">

                            <div class="star-value">{{legendItem.value}}<mat-icon>star</mat-icon>
                            </div>
                            <div class="item-label">{{legendItem.label}} ratings</div>
                        </div>
                    </div>
                    <ngx-charts-bar-horizontal class="graph-svg" [view]="view2" [scheme]="ratingColorScheme"
                        [results]="ratings" [roundDomains]="true" [showDataLabel]="true" [yAxis]="true">
                    </ngx-charts-bar-horizontal>
                    <mat-divider></mat-divider>
                </mat-card>
            </div>
            <div layout="column">
                <mat-card>
                    <mat-card-title>Job Loading Statistics</mat-card-title>
                    <div class="legend-items" *ngFor="let legendItem of jobLegendItems;">
                        <div class="legend-item">
                            <div class="item-color" [style.border-left-color]="legendItem.color"></div>
                            <div class="item-label">{{legendItem.label}}</div>
                            <div class="item-value">{{legendItem.value}}</div>
                        </div>
                    </div>
                    <ngx-charts-line-chart class="graph-svg" [view]="view2" [scheme]="colorScheme" [results]="jobData"
                        [yAxis]="true" [xAxis]="true" [roundDomains]="true" [showXAxisLabel]="true"
                        [showYAxisLabel]="true" [xAxisLabel]="timeScale" [yAxisLabel]="yNoOfJobs">
                    </ngx-charts-line-chart>
                </mat-card>
            </div>
        </div>
    </mat-card>
    <mat-card *ngIf="data.length>0">

        <div layout="row" class="bgc-grey-100">
            <mat-card>
                <mat-card-title>Job Completion Statistics for {{this.items[0].selected}}</mat-card-title>
                <mat-divider></mat-divider>
                <ngx-charts-bar-vertical-2d [view]="driverView" [scheme]="colorScheme" [results]="driverSummary"
                    [xAxis]="true" [yAxis]="true" [legend]="true" [showXAxisLabel]="true" [showYAxisLabel]="true"
                    [showDataLabel]="true" (select)="onSelect($event)" [yAxisLabel]="yPercentOfJobs"
                    [xAxisLabel]='yComparelabel' [showXAxisLabel]="true" [showYAxisLabel]="true">
                </ngx-charts-bar-vertical-2d>
            </mat-card>
        </div>
    </mat-card>
    <mat-card *ngIf="data.length>0">
        <mat-card-title>Comparative Analysis for {{this.items[0].selected}}</mat-card-title>
        <mat-divider></mat-divider>
        <mat-divider></mat-divider>
        <div layout="row" class="bgc-grey-100">
            <div layout="column" class="relative">
                <mat-card>
                    <mat-card-title>Job Loading Statistics</mat-card-title>
                    <mat-divider></mat-divider>
                    <ngx-charts-line-chart class="graph-svg" [view]="compareView" [scheme]="colorScheme"
                        [results]="jobTimeView" [yAxis]="true" [xAxis]="true" [yAxisLabel]="yNoOfJobs"
                        [xAxisLabel]='timeScale' [legend]="true" [showXAxisLabel]="true" [showYAxisLabel]="true">
                    </ngx-charts-line-chart>
                </mat-card>
            </div>
            <div layout="column" class="relative">
                <mat-card>
                    <mat-card-title>Rating Statistics</mat-card-title>
                    <mat-divider></mat-divider>
                    <ngx-charts-line-chart class="graph-svg" [view]="compareView" [scheme]="colorScheme"
                        [results]="ratingTimeView" [yAxis]="true" [yAxisLabel]="yRatingAvg" [xAxis]="true"
                        [yAxisLabel]="rating_y" [xAxisLabel]='timeScale' [showXAxisLabel]="true" [showYAxisLabel]="true"
                        [legend]="true">
                    </ngx-charts-line-chart>

                </mat-card>
            </div>
        </div>
    </mat-card>
    <mat-card *ngIf="data.length===0">
        <div layout="row" layout-align="center center">
            <h3>No data to display.</h3>
        </div>
    </mat-card>
</td-layout-nav>