.relative {
    flex: 1 1 50%;
    max-width: 50%;
    max-height: 100%;
    box-sizing: border-box;

}
.graph-svg{
    padding: 5px;
}

.bgc-grey-100 {
    background-color: #f5f5f5 !important;
}

.legend-item .item-color {

    border-left: 4px solid;
    width: 4px;
    height: 46px;
    float: left;
    margin-left: 7px;
    border-left-color: #62F442;
}


.legend-item {
   display:inline-block;
   cursor: pointer;
}

.legend-items {
white-space: nowrap;
float: right;
padding-right: 20px;
}

.legend-item .item-value {
    font-size: 20px;
    margin-top: -3px;
    margin-left: 16px;
}
.legend-item .star-value {
    font-size: 28px;
    margin-top: -3px;
    margin-left: 16px;
}
.legend-item .item-label {
    font-size: 14px;
    margin-left: 11px;
    margin-top: -3px;
}

.item-percent {
    font-size: 16px;
    opacity: 0.7;
    margin-left: 11px;
}


::ng-deep .cdk-overlay-pane-select-search {
    margin-top: 50px!important;
}


.spacing{
    min-width: 100px;
}
.tool-header {
    background-color: white;
}

.select-button {
    background-color: #e53935;
    color: white;
        box-sizing: border-box;
        position: relative;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer;
        outline: 0;
        border: none;
        -webkit-tap-highlight-color: transparent;
        display: inline-block;
        white-space: nowrap;
        text-decoration: none;
        vertical-align: baseline;
        text-align: center;
        margin: 0;
        min-width: 200px;
        line-height: 36px;
        padding: 0 16px;
        border-radius: 2px;
        overflow: visible;
        transform: translate3d(0,0,0);
        transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
        }
