<h2 matDialogTitle *ngIf="title" color="warn"> {{title}}</h2>
<mat-dialog-content layout='column' layout-margin>
    <vrp-table
        #vrpTable
        [columns]="columns"
        [data]="tableData"
        (deleteRow)='onRowsDeleted($event)'
        [columnTemplate]='[
            {
                name: "_quantity",
                template: quantityColumn
            },
            {
                name: "_vehicleRestriction",
                template: vehicleRestrictionColumn
            }
        ]'

    >
    </vrp-table>
</mat-dialog-content>

<mat-dialog-actions layout="row">
    <div flex></div>
    <button mat-button matDialogClose>{{cancelButton}}</button>
    <button mat-button color="accent" #acceptBtn (click)='save()'>{{acceptButton}}</button>
</mat-dialog-actions>

<ng-template #quantityColumn let-row="row">
    <span *ngIf="splitType === 'manual'">
        <mat-form-field>
            <input
                matInput
                type="number"
                [(ngModel)]="row._quantity"
                (click)="$event.stopPropagation()"
            >
        </mat-form-field>
    </span>
    <span *ngIf="splitType !== 'manual'">{{row._quantity}}</span>
</ng-template>

<ng-template #vehicleRestrictionColumn let-row="row">
    <mat-select
        *ngIf="splitType === 'manual'"
        multiple
        [(value)]="row._vehicleRestriction"
        (optionSelectionChanges)="_autoOptionsSelectChange($event, row)"
    >
        <mat-option
            *ngFor="let autoOption of _filterVehicleTypeForOrder(splitAutoSelectOptions, row)"
            [value]="autoOption.value"
        >
            {{autoOption.label}}
        </mat-option>
    </mat-select>
</ng-template>
