<h2 matDialogTitle *ngIf="title" color="warn"> {{title}}</h2>

<mat-dialog-content layout='column' layout-margin>
    <form [formGroup]="f" (ngSubmit)="save(f.value)" layout="row" flex>
        <div layout='column'>
            <my-date-picker name="mydate" [options]="myDatePickerOptions"
                    formControlName="forwardDate"></my-date-picker>
        </div>
        <div layout='column' class ='left'>
            <mat-form-field flex="50">
                <mat-select formControlName="priority" placeholder="Priority">
                    <mat-option *ngFor="let p of priorityLabels;let i= index" [value]="i+1">
                        {{p}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions layout="row">
    <div flex></div>
    <button mat-button matDialogClose>{{cancelButton}}</button>
    <button mat-button color="accent" #acceptBtn [disabled]='!f.valid' (click)='save(f.value)'>{{acceptButton}}</button>
</mat-dialog-actions>
