// .cal-month-view {
// .cal-day-cell {
//     min-height: 50px !important; 
//   }
// }
.full-screen {
    width: calc(100vw - 20px);
    margin-top: -25px;
    margin-left: -25px;
    height: calc(100vh - 25px);
}

.mycal-event {
    display: block;
    padding: 0 10px;
    font-size: 9px; // font-weight: bold;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 5px;
}

.mycal-day-badge {
    margin-top: 18px;
    margin-left: 10px;
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}