<button mat-raised-button color='warn' matTooltip='Change Date Range' [matMenuTriggerFor]="ordermenu">
    {{range.startDate| date : 'mediumDate'}} - {{range.endDate| date : 'mediumDate'}}
</button>

<mat-menu #ordermenu="matMenu" [overlapTrigger]="false">
    <a mat-menu-item (click)="itemMenu.click()" *ngFor="let itemMenu of dropdownMenuItems">
        {{itemMenu.label}}
    </a>
</mat-menu>
